<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.pako-telegram</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/pako-telegram</string>
        <string>-config</string>
    <string>/Users/pkoptilin/.config/pako-telegram/config.yaml</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>BOT_TOKEN</key>
        <string>${BOT_TOKEN}</string>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>

    <key>StandardOutPath</key>
    <string>~/.config/pako-telegram/stdout.log</string>

    <key>StandardErrorPath</key>
    <string>~/.config/pako-telegram/stderr.log</string>
</dict>
</plist>
